<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Бронирование ресурса</title>
</head>
<body>
<h1>Бронирование ресурса</h1>
<form action="booking-add" method="post">
    <input type="text" name="time" placeholder="Введите время бронирования" class="form-control"><br>
    <input type="text" name="count" placeholder="Введите количество персон" class="form-control"><br>
    <input type="text" name="description" placeholder="Введите описание" class="form-control"><br>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <button type="submit" class="btn btn-success">Забронировать</button>
</form>
</body>
</html>