<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование ресурса</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <navbar th:insert="/blocks/navbar :: navbar"></navbar>
</head>
<body>
<h1>Редактирование ресурса</h1>
<div class="container ml-2 col-5">
    <div   th:each="el : ${resource}">
        <form class="was-validated" method="post">
            <div class="mb-2">
                <input type="text" th:value="${el.nameResource}" name="nameResource" placeholder="Введите название ресурса" class="form-control" required><br>

                <div class="invalid-feedback">
                    Пожалуйста, укажите наименование ресурса.
                </div>

                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            </div>
            <button type="submit" class="btn btn-success">Обновить ресурс</button>
        </form>
    </div> <br>
    <div th:each="el : ${resource}">
        <form th:action="'/resource-remove/' + ${el.id}" method="post">
            <button class="btn btn-warning" type="submit">Удалить ресурс</button>
        </form>
    </div>

</div>
</body>
</html>