<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Справочник ресурсов</title>
</head>
<body>
<div class="container mt-5">

    <!-- Безопасность - кнопка выхода из аккаунта + CSRF токен -->
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </form>

    <!-- Фильтр по ресурсам -->
    <form method="post" action="filter">
        <input type="text" name="filter">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button type="submit">Найти ресурс</button>
    </form>

    <!-- Список всех ресурсов с кнопками редактирования и добавления нового ресурса -->
    <div   th:each="el : ${resources}">
        <h3 th:text="${el.nameResource}"/>
        <h5> <a th:href="'/resource-edit/' + ${el.id}" class ="btn btn-warning">Редактировать ресурс</a></h5>
    </div>
    <a th:href="'/resource-add'" class ="btn btn-warning">Добавить ресурс</a>

    <!-- Список всех бронирований, с кнопкой добавление нового бронирования-->
    <h1>Список бронирования</h1>
    <div th:each="el : ${bookings}">
        <h3 th:text="${el.id}"/>
        <h3 th:text="'Время бронирования: '+ ${el.timeBooking}"/>
        <h3 th:text="'Количество персон: '+ ${el.countPerson}"/>
        <h3 th:text="'Кем забронировано: '+${el.getUsername()}"/>
    </div>
    <a th:href="'/booking-add'" class="btn btn-warning">Добавить бронирование</a>
</div>
</body>
</html>