<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование профиля пользователя</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <navbar th:insert="/blocks/navbar :: navbar"></navbar>
</head>
<body>
<h1>Редактирование профиля пользователя</h1>
<div class="container ml-2 col-5">
    <div   th:each="el : ${user}">
        <form class="was-validated" method="post">
            <div>
                <label>Введите имя пользователя: </label>
                <input type="text" th:value="${el.username}" name="username" placeholder="Имя пользователя" class="form-control" required><br>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                <div class="invalid-feedback">
                    Пожалуйста, укажите имя пользователя.
                </div>
            </div>
            <label>Выберите роли пользователя: </label>
            <ul>
                <li th:each = "role : ${roles}">
                    <input type="checkbox" name ="roles[]" th:value = "${role}"
                           th:checked="${user.roles.contains(role)}"/>
                    <label th:text="${role}"></label>

                </li>
            </ul>

            <br>
            <button type="submit" class="btn btn-success">Обновить профиль</button>
        </form>
    </div> <br>
    <div th:each="el : ${user}">
        <form th:action="'/user-remove/' + ${el.id}" method="post">
            <button class="btn btn-warning" type="submit">Удалить профиль пользователя</button>
        </form>
    </div>

</div>
</body>
</html>